<li class="card">
  <p>Name: {{ contactRef.name }}</p>
  <p>Company: {{ contactRef.company }}</p>
  <p>Emergency: {{ contactRef.emergency }}</p>
  <p>Number: {{ contactRef.number }}</p>
  <p>Birthday: {{ contactRef.birthday | date: "shortDate" }}</p>
  <button class="remove-button" (click)="emitDeleteEvent()">X</button>
  <button
    class="fas"
    (click)="toggleFavorite()"
    [ngClass]="{
      favorite: contactRef.isFavorite,
      'fa-heart': homePage,
      'fa-trash': !homePage
    }"
  ></button>
</li>
